@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
    font-family: 'TTLaundryGothicB';
    box-sizing: border-box;
}

html{
    background-image: url('../static/물음표2.jpg');
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 18px;
    /* background-color: teal; */
}

h2 {
    text-align: center;
    color: rgb(223, 204, 157);
}
a, p{
    color: rgb(223, 204, 157);
}
.new{
    text-align: center;
}


.indexdiv, .edit, .startdiv, .newform {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 3px solid rgb(36, 82, 168);
    width: 500px;
    margin: auto;
    padding: 5px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: cornflowerblue;
}
#editbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 10px;
    margin: auto;
}
#backbtn,
#delbtn {
    text-align: center;
    padding: 20px;
}
#ans {
    cursor: pointer;
}

img{
    width: 100%;
    height: 100%;
}